<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
    <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
   	<add name="flaskhandler2" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\python39_32\python.exe|c:\python39_32\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    <remove name="WebDAV" />
  </handlers>
   <modules>
    <remove name="WebDAVModule" />
  </modules>
  <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
</system.webServer>
<appSettings>
  <add key="WSGI_HANDLER" value="app.app" />
  <add key="PYTHONPATH" value="E:\ePad35\ePad_API\venv_32new\Lib\site-packages" />
</appSettings>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="false" host="localhost" password="knjwiwusvdggeddb" port="587" userName="epad.usadi@gmail.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>